.res-1st-col{
 margin-top: 5.5rem;
background-color: #44cfcc;
}
.header{
   font-weight: 900;
}
.res-2nd-col{
    background: rgba(102,102,102,0.3);
    margin-top: 9.5rem;
}
.blue-text{
 color: #44cfcc;
}
.more-info-res{
    background-color: white;
   
}
.btn{
    margin-bottom: 2rem;
}