html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.col-header{
    margin-top: 10rem;
    color: white;
}
.title-color{
    color: #44cfcc;
}
.quote-btn{
    font-size: 22px;
    margin-top: 1rem;
    margin-left: -.7rem;
    width: 200px;
    height: 50px;
    transition: .5s;
}
.quote-btn:hover{
   transform: scale(1.1)
}
.info-contanier{
    height: auto;
}
p{
    font-size: 20px
}
.about-content{
    margin-top: 1.5rem;
}
.blue-text{
    color: #44cfcc;
}

.request-btn-on-content{
    font-size: 21px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: .5s;
}
.request-btn-on-content:hover{
   background-color: #44cfcc;
}
.info-col{
    height: 70px;
    background-color: #2b4496;
}
.finance-col{
    height: auto;
    background-color: white;
}
.finance-col-2{
    height: auto;
    background-color: #44cfcc;
}
.quote-col{
    height: auto;
    background-color: white;
}
.white-text{
    color: white;
}
.accent-text{
    color:#f79a18;
    margin-top: 0rem;
}
.learn-more-btn{
    background-color: #f79a18;
    transition: 1s;
    margin-top: 1rem;
}
.learn-more-btn:hover{
    transform: scale(1.1) 
}

.learn-more-btn-utility{
    background-color: #f79a18;
    transition: 1s;
    margin-top: 1rem;
}
.learn-more-btn-utility:hover{
    transform: scale(1.2) 
}
.solar-pic{
    transform: rotate3d(100px)
}
.shift{
    margin-top: .6rem;
    margin-left: 7rem;
}
.top-shift{
    margin-top: 1rem;
}
.big-text{
    font-size: 30px;
    transition: .5s;
}
.big-text:hover{
    transform: scale(1.2)
}
.contact-btn{
    transition: .5s;
    width: 150px;
    height: 50px;
}
.contact-btn:hover{
    transform: scale(1.2)
}
.cash-card{
    width: auto;
    margin-top: 1rem;
    background-color: #2d65bf;
    color: white;
}
.fin-card{
    width: auto;
    margin-top: 1rem;
    background-color: #666666;
    color: white;
}
.ppa-card{
    width: auto;
    margin-top: 1rem;
    background-color: #91bbff;
    color: black;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.02)
}
.noshow{
    display: none;
}
.clear-icon{
  transition: 1s;
}
.clear-icon:hover{
    transform: rotate(360deg)
}
.separate{
    margin-top: 3rem;
}
.btn-shift-when-clicked:active{
    margin-left: .5rem;;
   
}
.quote-icon{
   font-size: 50px;
}
.col-quote{
    height: auto;
    margin-top: 6rem;
    background-color: #666666;
    opacity: .8;
    
}
.orginized-col{
    height: auto;
    background-color: white
}
.contact-col{
    height: 200px;
    background-color: white
}
.icon-3{
    margin-top: 3rem;
}
.icon-4{
    margin-top: 3rem;
}
.icon-5{
    margin-top: 3rem;
}
.icon-6{
    margin-top: 2rem;
}
.dark-blue-text{
    color: #2b4496
}
.footer{
    margin-top: 7rem;
    background-color: #2b4496;
    height: 50px;
}
.me{
  font-size: 13px;
}
.me:hover{
 cursor: pointer;
}
.linkdin-logo{
    margin-top: -3rem;
    margin-left: -60rem;
    height: 55px;
}
.linkdin-logo:hover{
   cursor: pointer;
}