.Logo:hover{
   cursor: pointer;
   height: 93px;
}

.Logo{
    margin-top: -.3rem;
    margin-left: 2rem;
    height: 68px;
    transition: .5s;
}
.nav-color{
  background-color: #2b4496;

}
.nav-colors{
  background-color: #2b4496;
  height: 50px;
}
.home-icon{
    margin-top: -.5rem;
  
    height: 45px;
    transition: .5s
}
.home-icon:hover{
    cursor: pointer;
    transform: scale(1.2)
}
.contact-icon{
    margin-top: -.5rem;
   
    height: 45px;
    transition: .5s
}
.contact-icon:hover{
    cursor: pointer;
    transform: scale(1.2)
}
.money-icon{
    margin-top: -.5rem;
   
    height: 45px;
    transition: .5s
}
.money-icon:hover{
    cursor: pointer;
    transform: scale(1.2)
}
.call-icon{
    color: white;
    margin-left: -13rem;
    font-size: 35px;
    transform: rotate(20deg);
    
}
.number{
    color: white;
    margin-top: .5rem;
}